<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bithope</title>
  </head>
  <body>
    <header><%- include("../layout") %></header>
    <div class="py-2"><a href="/" class="btn btn-success">กลับหน้าแรก</a></div>
    <hr />
    <h2><%= data %></h2>
    <form action="">
        <div class="form-group">
            <label for="">ชื่อบทความ</label>
            <input type="text" name="name" class="form-control mb-3" id="" placeholder="ชื่อบทความ">
        </div>
        <div class="form-group">
            <label for="">ผู้เขียน</label>
            <input type="text" name="author" class="form-control" id="" placeholder="ชื่อผู้เขียน">
        </div>
        <div class="form-group">
            <label for="">หมวดหมู่</label>
            <select name="category" class="form-control" id="">
                <option value="bitcoin">bitcoin</option>
                <option value="News">News</option>
            </select>
        </div>

    </form>
  </body>
</html>