 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico">
    <title>Bithope</title>
 </head>
 <body>
    <h1><%= data %></h1>
    <hr>
    <h2>ข้อมูลบทความทั้งหมด</h2>
    <p>By Bithope</p>
 </body>
 </html>