<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bithope</title>
  </head>
  <body>
    <header><%- include("../layout") %></header>
    <div class="py-2"><a href="/blogs/add" class="btn btn-primary">เขียนบทความ</a></div>
    <hr />
    <h2><%= data %></h2>
    <p>By Bithope</p>
  </body>
</html>
